/* Base  */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Momo+Trust+Display&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
:root {
  --background: #ede6df;
  --accent: #8c6651;
  --theme: #b78a67;
  --text: #3f2b22;
  --color: #6a4a38;

  /* Fonts  */
  --momo: "Momo Trust Display", sans-serif;
  --funnel: "Funnel Display", sans-serif;
}

img {
  width: 100%;
  height: auto;
}
html {
  font-size: 100%;
}
body {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  font-family: var(--momo);
}
h4,
h5,
h6,
p {
  font-family: var(--funnel);
}
button {
  font-family: var(--funnel);
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px black;
  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
}
button:hover {
  transform: scale(1);
  border: inset 1px solid black;
}

.preloader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: var(--background);
  z-index: 9999;
  overflow: hidden;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--accent);
  position: absolute;
}

.preloader-img {
  opacity: 0;
  position: relative;
  z-index: 10;
  width: 320px;
  height: auto;
}

#container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--background);
  color: var(--text);
}

header {
  width: 100%;
  height: 180vh;
  position: relative;
  background: url("./assets/grad1.png") center/cover fixed;
  color: var(--background);
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}
nav {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 10vh;
  padding: 1rem;
}
#logo {
  height: 100%;
  font-size: 1rem;
  color: var(--background);
  text-shadow: 2px 2px 4px var(--text);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s ease;
}
#nav-mobile {
  display: none;
}
.navbar {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: var(--funnel);
}

.navbar a {
  color: var(--background);
  opacity: 0.7;
  font-size: 1.2rem;
  padding: 0.4rem 0.2rem;
  transition: all 0.25s ease-in-out;
}
.navbar a:hover {
  opacity: 1;
  transform: scale(1.1);
}

.hero-img {
  position: absolute;
  top: 10%;
  right: 2%;
  z-index: 20;
  height: 40%;
}
.hero-img img {
  width: auto;
  height: 100%;
}
.hero {
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 20;
}
.hero h1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 4px var(--color);
}
.hero h4 {
  text-shadow: 2px 2px 4px var(--color);
  font-size: 1.5rem;
}
.hero button {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--background);
}
.about {
  width: 50%;
  height: max-content;
  position: absolute;
  bottom: 15%;
  right: 2%;
  text-align: right;
  z-index: 20;
}
.about h1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 4px var(--color);
}
.about h4 {
  text-shadow: 2px 2px 4px var(--color);
  font-size: 1.5rem;
}
.about h3 {
  font-size: 2rem;
}
.about-images {
  width: 20%;
  height: 20%;
  z-index: 20;
  position: absolute;
  bottom: 15%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  box-shadow: 0px 0px 2px azure;
  backdrop-filter: blur(10px);
}
.about-gallery {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.about-image {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#gallery-img {
  height: 80%;
  width: auto;
}
.about-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 6px;
}
.about-btn {
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s;
}