/* Base  */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Momo+Trust+Display&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
:root {
  /* Colors */
  --charcoal: #2c2c2c;
  --soft-grey: #8e8e8e;
  --off-white: #eaeaea;
  --latte: #c38a66;
  --black: #111;

  /* Text */
  --heading-font: "Momo Trust Display", sans-serif;
  --body-font: "Funnel Display", sans-serif;
}

img {
  width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  text-shadow: 2px 2px 4px var(--black);
}
h4,
h5,
h6,
p {
  font-family: var(--body-font);
  text-shadow: 1px 1px 2px var(--black);
}
button {
  font-family: var(--body-font);
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 2px var(--latte);
  border: none;
  transition: all 0.25s ease-in-out;
}

#container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--charcoal);
  color: var(--latte);
  font-family: var(--body-font);
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

nav {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10vh;
  padding: 1rem;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 2px var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s ease;
}
#logo {
  height: 100%;
  font-size: 1rem;
  color: var(--latte);
  text-shadow: 2px 2px 4px var(--black);
  display: grid;
  place-content: center;
}

#nav-mobile {
  display: none;
}
.navbar {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: var(--funnel);
}

.navbar a {
  color: var(--latte);
  opacity: 0.7;
  font-size: 1.2rem;
  padding: 0.4rem 0.2rem;
  transition: all 0.25s ease-in-out;
}
.navbar a:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Hero Section */

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  margin-top: 5%;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-content h1 {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 1px;
}
.hero-content h4 {
  font-size: 1.5rem;
  width: 80%;
  margin-top: 0.75rem;
}
.hero-content__buttons {
  margin-top: 1rem;
}
.hero-content__buttons button:nth-child(1) {
  background: var(--latte);
  color: var(--black);
  box-shadow: 0px 0px 2px var(--black);
}
.hero-content__buttons button:nth-child(2) {
  background: none;
  color: var(--latte);
}
.hero-profile {
  margin-top: 5%;
  width: 45%;
  height: 70%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  object-fit: cover;
  filter: brightness(0.9);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

main {
  width: 100%;
  background: var(--off-white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  width: 100%;
  height: 100vh;
}
.section-heading {
  width: 100%;
  text-align: center;
  margin: 1rem 0rem;
  padding: 1rem 0rem;
}
.section-heading h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px var(--off-white);
}
#about {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about p {
  font-size: 1.5rem;
  text-shadow: none;
  text-align: center;
  margin: 0.5rem 0rem;
  font-weight: 500;
  line-height: 1.6;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-heading {
  width: 15%;
  height: 80%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 5rem;
  font-family: var(--heading-font);
  border-right: 2px solid black;
  display: none;
}
.menu-heading h1 {
  text-shadow: none;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 8px;
}
.menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.menu-content h1 {
  text-shadow: none;
  margin-top: 2rem;
  font-size: 4rem;
}
.menu-cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.menu-card {
  width: 20%;
  height: 70%;
  border-radius: 1.5rem;
  background: #fffff0;
  box-shadow: 2px 2px 4px var(--soft-grey);
  overflow: hidden;
}
.menu-card__profile {
  width: 100%;
  height: 75%;
}
.menu-card__profile img {
  height: 100%;
  width: 100%;
  filter: saturate(80%);
  transition: all 0.25s ease-in-out;
}
.menu-card:hover .menu-card__profile img {
  filter: saturate(100%);
}
.menu-card__text {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
}
.menu-card__text h3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-shadow: none;
  text-align: center;
  font-weight: 500;
}
.menu-card__text h4 {
  text-align: center;
  text-shadow: none;
  font-weight: 300;
}

#gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.gallery-cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.gallery-card {
  width: 20%;
  height: 70%;
  border-radius: 1.5rem;
  background: #fffff0;
  box-shadow: 2px 2px 4px var(--soft-grey);
  overflow: hidden;
}
.gallery-card__profile {
  width: 100%;
  height: 100%;
}
.gallery-card__profile img {
  height: 100%;
  width: 100%;
  filter: saturate(70%);
  transition: all 0.25s ease-in-out;
}
.gallery-card:hover .gallery-card__profile img {
  filter: saturate(100%);
}

#visit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#visit h1,
h3,
h4 {
  text-shadow: none;
}
.map-content {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.map-content h1 {
  font-size: 3rem;
  line-height: 2;
}
.map-content h3 {
  font-size: 1.25rem;
}
.location {
  width: 70%;
  height: 80%;
  box-shadow: 0px 0px 2px var(--black);
}
.location iframe {
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.space {
  width: 100%;
  height: 15vh;
}
footer {
  width: 100%;
  padding: 2rem 0rem;
  background: var(--charcoal);
  color: var(--latte);
  display: flex;
  align-items: baseline;
  justify-content: center;
}
footer h1 {
  font-size: 2rem;
  font-weight: 300;
}
